/* Vodafone Font Family - Self-hosted */

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Vodafone Lt Regular'), url('../fonts/vodafone-light.woff2') format('woff2');
}

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Vodafone Rg Regular'), url('../fonts/vodafone-regular.woff2') format('woff2');
}

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Vodafone Rg Bold'), url('../fonts/vodafone-bold.woff2') format('woff2');
}

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Vodafone ExB'), url('../fonts/vodafone-extra-bold.woff2') format('woff2');
}
